html {
    padding: none;
    margin: none;
    display: flex;
    justify-content: center;
    background-color: #000;
}


form {
    padding: 25px;
}

.leopard-icon {
    max-width: 150px;
    max-height: 150px;
}

.form-control {
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-bottom: 1px solid #000 !important;
    border-radius: 0px !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.helper-icon {
    position: relative;
    cursor: pointer;
    color: #007bff;
}

.helper-icon:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 100;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s;
}

.helper-icon::after {
    content: '';
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

.sticky-section {
    position: sticky;
    top: 0;
    background-color: transparent;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    transition: background-color 0.3s ease-in-out;
    z-index: 10;
}

.sticky-section.sticky-active {
    background-color: rgba(228, 10, 10, 0.8);
    color: #FFFFFF;
}

.required-true-color {
    color: rgb(255, 0, 0);
}

.btn-outline-custom {
    border: 2px solid black !important;
    color: black;
    background-color: transparent;
}

.btn-outline-custom:focus, .btn-outline-custom:hover {
    outline: none;
    background-color: transparent;
    color: black;
}

.entity-type-other {
    margin-left: 200px !important;
}

.entity-type-button {
    max-height: 40px !important; 
}

.col-2 {
    width: auto !important;
}

.custom-textarea-border {
    border: 1px solid #000 !important;
    border-radius: 3px !important;
}

/* Image Uploads */

  .file-uploader {
    width: 500px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  .file-uploader .uploader-header {
    display: flex;
    padding: 20px;
    background: #EEF1FB;
    align-items: center;
    border-radius: 5px 5px 0 0;
    justify-content: space-between;
  }
  .uploader-header .uploader-title {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .uploader-header .file-completed-status {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
  }
  .file-uploader .file-list {
    list-style: none;
    width: 100%;
    padding-bottom: 10px;
    max-height: 400px;
    overflow-y: auto;
    scrollbar-color: #999 transparent;
    scrollbar-width: thin;
  }
  .file-uploader .file-list:has(li) {
    padding: 20px;
  }
  .file-list .file-item {
    display: flex;
    gap: 14px;
    margin-bottom: 22px;
  }
  .file-list .file-item:last-child {
    margin-bottom: 0px;
  }
  .file-list .file-item .file-extension {
    height: 50px;
    width: 50px;
    color: #fff;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: #5145BA;
  }
  .file-list .file-item .file-content-wrapper {
    flex: 1;
  }
  .file-list .file-item .file-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .file-list .file-item .file-name {
    font-size: 1rem;
    font-weight: 600;
  }
  .file-list .file-item .file-info {
    display: flex;
    gap: 5px;
  }
  .file-list .file-item .file-info small {
    color: #5c5c5c;
    margin-top: 5px;
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .file-list .file-item .file-info .file-status {
    color: #5145BA;
  }
  .file-list .file-item .cancel-button {
    align-self: center;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 1.4rem;
  }
  .file-list .file-item .cancel-button:hover {
    color: #E3413F;
  }
  .file-list .file-item .file-progress-bar {
    width: 100%;
    height: 3px;
    margin-top: 10px;
    border-radius: 30px;
    background: #d9d9d9;
  }
  .file-list .file-item .file-progress-bar .file-progress {
    width: 0%;
    height: inherit;
    border-radius: inherit;
    background: #5145BA;
  }
  .file-uploader .file-upload-box {
    margin: 10px 20px 20px;
    border-radius: 5px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #B1ADD4;
    transition: all 0.2s ease;
  }
  .file-uploader .file-upload-box.active {
    border: 2px solid #5145BA;
    background: #F3F6FF;
  }
  .file-uploader .file-upload-box .box-title {
    font-size: 1.05rem;
    font-weight: 500;
    color: #626161;
  }
  .file-uploader .file-upload-box.active .box-title {
    pointer-events: none;
  }
  .file-upload-box .box-title .file-browse-button {
    color: #5145BA;
    cursor: pointer;
  }
  .file-upload-box .box-title .file-browse-button:hover {
   text-decoration: underline;
  }


  /* Table Styling */
  form {
    width: 100%;
    max-width: 600px;  /* Make form more compact */
    margin: 0 auto;
    padding: 20px;
  }

  /* Table Wrapper with Overflow-X */
  .table-wrapper {
    position: relative;
    overflow: auto; /* Ensure the table scrolls without overlap */
    z-index: 1; /* Set z-index appropriately */
    width: 100%;
}

  table {
    border-collapse: collapse;
    width: 80%;  /* Set the table width to 80% of its container */
    table-layout: fixed;  /* Ensures fixed column width */
  }

  th, td {
    border: 1px solid #FFF;
    padding: 2px;
    text-align: center;
    font-size: 14px;
  }

  td {
    font-size: 10px !important;
  }

  /* Styling for the frozen column */
  .frozen-column {
    position: sticky;
    left: 0;
    background-color: #fff;
    z-index: 1;
    width: 200px;  /* Reduced width for frozen column */
  }

  /* Styling for other columns */
  th, td {
    width: 120px; /* Reduced width for other columns */
  }

  /* Table header styling */
  th {
    background-color: #f4f4f4;
  }

  tbody, td, tfoot, th, thead, tr {
     border-color: none !important;
     border-style: none !important;
     border-width: 0;
}

  /* Button Styling */
  .add-column-btn {
    margin: 10px 0;
    padding: 4px 8px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
  }

  .add-column-btn:hover {
    background-color: #0056b3;
  }

  .pipe-material-helper-tool[data-tooltip] {
    position: relative; /* Required for proper z-index application */
    z-index: 101 !important; /* Adjust as needed */
}